lib
target
tmp.*
*.scripts.md5
*.log

build/python-check.sh
ovirt-engine-dwh.spec
packaging/conf/settings.properties
packaging/etc/ovirt-engine-dwhd.conf.d/README
packaging/services/ovirt-engine-dwhd/config.py
packaging/services/ovirt-engine-dwhd/ovirt-engine-dwhd.conf
packaging/services/ovirt-engine-dwhd/ovirt-engine-dwhd.systemd
packaging/services/ovirt-engine-dwhd/ovirt-engine-dwhd.sysv
packaging/services/ovirt-engine-dwhd/ovirt_engine_dwh_watchdog.cron
packaging/setup/ovirt_engine_setup/dwhconfig.py
packaging/sys-etc/logrotate.d/ovirt-engine-dwhd
