name: OST trigger

on:
  issue_comment:
    types: [created]
  workflow_dispatch:
    inputs: 

jobs:
  trigger-ost:
    if: |
      ${{ github.event.issue.pull_request &&
          startsWith(github.event.comment.body, '/ost') &&
          ( github.event.comment.author_association == 'OWNER' ||
            github.event.comment.author_association == 'MEMBER' ||
            github.event.comment.author_association == 'COLLABORATOR' )
      }}
    uses: oVirt/ovirt-system-tests/.github/workflows/ost.yaml@master
    with:
      pr_url: ${{ github.event.issue.pull_request.url }}
  debug:
    if: ${{ github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest
    steps:
    - name: ssh
      uses: mxschmitt/action-tmate@v3
    
